.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 45%;
  margin-left: auto;
  margin-right: 50px;
}

.calculator-screen {
  grid-column: 1/span 4;
  height: 65px;
  background-color: rgb(133, 117, 117);
  border: solid 1px grey;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  height: 65px;
  border: solid 1px grey;
  background-color: silver;
  font-weight: 600;
  font-size: 16px;
}

.btn-zero {
  grid-column: 1/ span 2;
}

.btn-red {
  background-color: rgb(230, 113, 35);
}
