.quotes {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(from -90deg, black, white);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
  